<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar') %>
        <div class="section">
            <div class="header">
                <form action="/event/create" method="POST">
                    <input required type="text" name="name" placeholder="이벤트 이름">
                    <input required type="text" name="type" placeholder="이벤트 타입">
                    <input required type="text" name="amount" placeholder="이벤트 목표 금액">
                    <input required type="text" name="desc" placeholder="이벤트 설명">
                    <input required type="text" name="status" placeholder="이벤트 상태">
                    <input type="text" name="startDate" placeholder="이벤트 시작 시간">
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>