<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar') %>
        <div class="section">
            <div class="header">
                <form action="/credit" method="POST">
                    <input type="text" name="amount" placeholder="젤리 수량을 적어주세요">
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>