<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar') %>
        <div class="section">
            <div class="header">
<<<<<<< HEAD
                <h1> 젤리 결제 페이지 </h1>
                <form action="/credit" method="POST">
                    <input type="submit" >
=======
                <form action="/credit" method="POST">
                    <input type="text" name="amount" placeholder="젤리 수량을 적어주세요">
                    <input type="submit">
>>>>>>> 9e125513c934af39b59c51b427d92b96e0ff51a1
                </form>
            </div>
        </div>
    </body>
</html>