<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar1') %>
        <div class="section">
            <div class="header">
                <h1>결제 성공!</h1>
                <li><%= amount %> Jelly를 충전하셨습니다.</li>
            </div>
        </div>
    </body>
</html>