<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar') %>
        <center>
            <div class="section">
                <div class="header">
                    <div style = "padding: 70px 10px;"></div>
                    <form action="/credit" method="POST">
                            <div class="profile-info" display="inline-block"><p style="font-size: 30px; color:white;"> 젤리 구매 </p></div><br>
                            <input class="form-control form-control-lg" type="text" width = "20px" name="amount" placeholder="젤리 수량을 적어주세요"><br>
                            <input type="submit" value="구매하기" class="btn btn-primary btn-lg">
                    </form>
                </div>
            </div>
        </center>
        
    </body>
</html>