<!DOCTYPE html>
<html>
<head>
    <%- include ("./head.ejs") %>
</head>
<body>
    <%- include ("./nav.ejs") %>
    <div class="container">
        <h2>로그인</h2>
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="inputEmail">이메일</label>
                <input required name="email" type="email" class="form-control" id="inputEmail">
            </div>
            <div class="form-group">
                <label for="inputPassword">비밀번호</label>
                <input required name="password" type="password" class="form-control" id="inputPassword">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <% if (error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>로그인 실패!</strong>
            이메일 또는 비밀번호를 확인하세요.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
    </div>
</body>
</html>